.diceBag {
  position: relative;
  background-color: white;
  z-index: 1;

  .diceButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .dicePoolToggleButton {
      width: 70px;
      height: 70px;
      text-align: center;

      &::after {
        top: unset !important;
        right: unset !important;
      }
    }
  }

  .dieImage img {
    width: 5em;
  }

  .dicePool {
    min-height: 6em;

    .selectDiceText {
      font-size: 20px;
      padding: 14px 0;
      text-align: center;
    }

    .diceInPool {
      display: inline-block;

      .dieImage {
        display: inline-block;
        vertical-align: middle;
      }

      .dieCount {
        font-size: 40px;
        vertical-align: middle;
      }
    }

    .dicePoolButtonRow {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 10px;

      .button {
        flex: 1;
        text-align: center;

        span {
          width: 90%;
        }
      }
    }
  }

}
