.diceBag {
  position: relative;
  background-color: white;
  z-index: 1;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: column;
    height: 100%;

    .topPanel {
      overflow: hidden;
    }

    .bottomPanel {
      flex: 1;
      overflow: auto;
    }
  }

  img {
    display: inline-block;
    width: 5em;
  }

  .dicePool {
    min-height: 6em;

    .selectDiceText {
      font-size: 20px;
      padding: 14px 0;
      text-align: center;
    }

    .diceInPool {
      display: inline-block;

      .dieImage {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        font-size: 40px;
        vertical-align: middle;
      }
    }

    .dicePoolButtonRow {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 10px;

      .button {
        flex: 1;
        text-align: center;

        span {
          width: 90%;
        }
      }
    }
  }

}
