.diceResult {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
    align-items: center;

    p {
        flex: 1;
        margin: 0;
        padding-left: 5em;
        text-indent: -5em;
    }

    .rerollButton {
        min-height: 18px;
    }
}
